body
{
	overflow: hidden;
}

div:focus
{
	outline: none;
}

#fbx_map
{
	height: 100%;
	width: 100%;
}

#fbx_mapContainer
{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

#fbx_menuBar
{
	border-bottom: 10px solid #fff;
	left: 0;
	right: 0;
	top: 0;
	z-index: 50;
	background-color: #333;
	height: 90px;
	display: none;
}

#fbx_diagram
{
	display: block;
	float: right;
	padding: 0px;
}

#fbx_titleDiagram
{
	display: block;
	margin-bottom: 75px;
	height: 250px;
}

#scaffold
{
	z-index: 1;
	background-color: #eee;
	box-shadow: 0 0 15px 0 #333;
	position: absolute;
	height: 100%;
	min-width: 700px;
	outline-right: 1px solid #aaa;
	width: 38%;
}

#button
{
	background-color: #808080;
	display: none;
	height: 50px;
	position: absolute;
	right: 100px;
	top: 100px;
	width: 200px;
	z-index: 2;
}

#entryListing
{
	width: 100%;
	height: 100%;
	display: inline-block;
}

#fbxImageRoller img
{
	width: 100%;
}

#fbxImageRoller .group_container
{
	display: inline-block;
	margin: 7px 14px 14px 14px;
	position: relative;
	background-color: white;
}

#fbxImageRoller .group_container:first-child {
	margin-top: 14px;
}

#fbxImageRoller .group_title {
	min-height: 6em;
}

/*#fbxImageRoller .img_container:before
{
	border: 1px solid rgba(0,0,0,0.15);
	bottom: 0;
	content: '';
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
} */

#fbxImageRoller .img_caption {
	min-height: 4em;
	width: 100%;
}


.titleArea
{
	text-align: center;
	width: 100%;
}

.titleArea h2
{
	color: #444;
	font-family: 'Merriweather',serif;
	font-size: 1.7em;
	font-weight: 300;
}

#fbx_frontpage
{
	display: table;
	background-color: white;
	width: 100%;
}

#fbx_frontpage div.inner
{
	display: table-cell;
	vertical-align: middle;
}