body
{
	overflow: hidden;
}

div:focus
{
	outline: none;
}

#fbx_map
{
	height: 100%;
	width: 100%;
}

#fbx_mapContainer
{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

#fbx_menuBar
{
	border-bottom: 10px solid #fff;
	left: 0;
	right: 0;
	top: 0;
	z-index: 50;
	color: #eee;
	background-color: #333;
	height: 90px;
	display: none;
}

#fbx_menuBar .title_container {
	float: left;
	padding-top: 14px;
	padding-left: 14px;	
}

#fbx_menuBar .title_container > span {
	display: block;
}

#fbx_menuBar .title {
	color: #ddd;
	font-size: 16pt;
	margin: 0;
}

#fbx_menuBar .location {
	color: #eee;
	font-family: 'Merriweather',serif;
	font-size: 14pt;
	font-weight: 300;
	margin: 0;
}

#fbx_diagram
{
	display: block;
	padding: 0px;
}

#fbx_titleDiagram
{
	display: block;
	height: 220px;
}

#scaffold
{
	z-index: 1;
	background-color: #f1f1f1;
	box-shadow: 0 0 15px 0 #333;
	position: absolute;
	height: 100%;
	min-width: 500px;
	outline-right: 1px solid #aaa;
	width: 38%;
}

#button
{
	background-color: #808080;
	display: none;
	height: 50px;
	position: absolute;
	right: 100px;
	top: 100px;
	width: 200px;
	z-index: 2;
}

#entryWrapper {
	width: 730px !important
}

#entryListing
{
	width: 100%;
	height: 100%;
	display: inline-block;
}

#fbxImageRoller img
{
	width: 100%;
	margin-top: 6pt;
}

#fbxImageRoller .group_container
{
	display: inline-block;
	margin: 7px 14px 14px 14px;
	position: relative;
	background-color: white;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#fbxImageRoller .group_container:first-child  {
	margin-top: 14px;
}

#fbxImageRoller .img_caption {
	font-size: 10pt;
	padding: 2pt 6pt 6pt 6pt;
	color: #666; 
	width: 100%;
}

.titleArea
{
	text-align: center;
	width: 100%;
}

.titleArea h2
{
	color: #444;
	font-family: 'Merriweather',serif;
	font-size: 1.7em;
	font-weight: 300;
}

.credits {
	width: 100%;
	text-align: center;
	font-size: 12px;
	margin-bottom: 2em
}

#fbx_frontpage
{
	display: table;
	background-color: white;
	width: 100%;
}

#fbx_titleDiagram {
	padding-top: 1em;
	width: 100%;
	text-align: center;
}

#fbx_titleDiagram > div {
	display: inline-block;
}

#fbx_frontpage div.inner
{
	display: table-cell;
	vertical-align: middle;
}

#fbx_frontpage .tripInfo
{
	width: 100%;
	text-align: center;
}
#fbx_frontpage .tripInfo ul
{
	padding: 0;
	display: inline-block;
	margin-bottom: 5em;
}

#fbx_frontpage .tripInfo li
{
	float:left;
    list-style-type: none;
    padding: 1.5em;
}


/* After the transition this will be the only class remaining */
.fadein {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  opacity: 1; /* Default value but added for clarity */
}

.fadein.ng-hide-remove {
  opacity: 0;
  display: block !important;
}

.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

.lockMapContainer {
	position: absolute;
    margin: 15px;
    z-index: 99;
}

.diagramContainer {
	left: -250px;
	position: absolute;
    z-index: 99;
    width: 200px;
    height: 85px;
}
.diagramContainer > *{
    cursor: default !important; 
}

.mapControlContainer {
    overflow: hidden;
	background-clip: padding-box;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    float: left;
}

.mapControlContainer > * {
    background-color: rgba(255,255,255,1);
    display: block;
    z-index: 99;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    z-index: 100;
}

.lockButtonContainer {
    width: 30px;
    height: 30px;
}

.lockButtonContainer > svg {
    height: 30px;
    width: 30px;
    padding: 4px; 
}

.mapControlContainer > * > path {
	width: 2em;
	height: 2em;
	fill: #555;
}

.mapControlContainer.deselected > * > path {
	fill: #999;
}

.mapControlContainer:hover > * > path {
	/*fill: #222;*/
}

.mapControlContainer.mousedown > *{
	padding-bottom: 3px;
	padding-top: 5px;
}

.lockMapContainer .arrowBox {
	display: none;
	position: relative;
	background: #000;
	color: #eee;
	padding: 2px 4px;
	margin-left: 40px;
	font-size: 11pt;
	margin-bottom: 10px;
	margin-top: 3px;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
	opacity: 0.8;
	font-smooth: never;
	-webkit-font-smoothing : none;
}
.lockMapContainer .arrowBox:after, .mapControlContainer  .arrowBox:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.lockMapContainer .arrowBox:after {
	border-color: rgba(68, 68, 68, 0);
	border-right-color: #111;
	border-width: 5px;
	margin-top: -5px;
}

.lockMapContainer .arrowBox:before {
	border-color: rgba(51, 51, 51, 0);
	border-right-color: #111;
	border-width: 9px;
	margin-top: -9px;
}