body
{
	overflow: hidden;
}

div:focus
{
	outline: none;
}

#fbx_map
{
	height: 100%;
	width: 100%;
}

#fbx_mapContainer
{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

#fbx_menuBar
{
	border-bottom: 10px solid #fff;
	left: 0;
	right: 0;
	top: 0;
	z-index: 50;
	color: #eee;
	background-color: #333;
	height: 90px;
	display: none;
}

#fbx_menuBar .title_container {
	float: left;
	padding-top: 14px;
	padding-left: 14px;	
}

#fbx_menuBar .title_container > span {
	display: block;
}

#fbx_menuBar .title {
	color: #ddd;
	font-size: 16pt;
	margin: 0;
}

#fbx_menuBar .location {
	color: #eee;
	font-family: 'Merriweather',serif;
	font-size: 14pt;
	font-weight: 300;
	margin: 0;
}

#fbx_diagram
{
	display: block;
	float: right;
	padding: 0px;
}

#fbx_titleDiagram
{
	display: block;
	height: 220px;
}

#scaffold
{
	z-index: 1;
	background-color: #eee;
	box-shadow: 0 0 15px 0 #333;
	position: absolute;
	height: 100%;
	min-width: 500px;
	outline-right: 1px solid #aaa;
	width: 38%;
}

#button
{
	background-color: #808080;
	display: none;
	height: 50px;
	position: absolute;
	right: 100px;
	top: 100px;
	width: 200px;
	z-index: 2;
}

#entryListing
{
	width: 100%;
	height: 100%;
	display: inline-block;
}

#fbxImageRoller img
{
	width: 100%;
}

#fbxImageRoller .group_container
{
	display: inline-block;
	margin: 7px 14px 14px 14px;
	position: relative;
	background-color: white;
}

#fbxImageRoller .group_container:first-child {
	margin-top: 14px;
}

#fbxImageRoller .group_title {
	min-height: 6em;
}

/*#fbxImageRoller .img_container:before
{
	border: 1px solid rgba(0,0,0,0.15);
	bottom: 0;
	content: '';
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
} */

#fbxImageRoller .img_caption {
	min-height: 4em;
	width: 100%;
}


.titleArea
{
	text-align: center;
	width: 100%;
}

.titleArea h2
{
	color: #444;
	font-family: 'Merriweather',serif;
	font-size: 1.7em;
	font-weight: 300;
}

#fbx_frontpage
{
	display: table;
	background-color: white;
	width: 100%;
}

#fbx_titleDiagram {
	padding-top: 1em;
	width: 100%;
	text-align: center;
}

#fbx_titleDiagram > div {
	display: inline-block;
}

#fbx_frontpage div.inner
{
	display: table-cell;
	vertical-align: middle;
}

#fbx_frontpage .tripInfo
{
	width: 100%;
	text-align: center;
}
#fbx_frontpage .tripInfo ul
{
	padding: 0;
	display: inline-block;
	margin-bottom: 5em;
}

#fbx_frontpage .tripInfo li
{
	float:left;
    list-style-type: none;
    padding: 1.5em;
}


/* After the transition this will be the only class remaining */
.fadein {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  opacity: 1; /* Default value but added for clarity */
}

/* Initial state when showing */
.fadein.ng-hide-remove {
  opacity: 0;
  display: block !important;
}

/* Will transition towards this state */
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

.lockMapSpan {
	position: absolute;
    overflow: hidden;
	//background-clip: padding-box;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    width: 30px;
    height: 30px;
    margin: 15px;
    z-index: 99;
}

.lockMapSpan > svg {
	position: absolute;
    background-color: rgba(255,255,255,1);
    display: block;
    z-index: 99;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    height: 30px;
    width: 30px;
    padding: 4px; 
    z-index: 100;
}

.lockMapSpan > svg > path {
	width: 2em;
	height: 2em;
	fill: #555;
}

.lockMapSpan.deselected > svg > path {
	fill: #bbb;
}

.lockMapSpan:hover > svg > path {
	fill: #222;
}